body{
    
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom:30px ;
    margin-right: 40px;
}
#box{
   
    width: 100vh;
    height: 120vh;
    align-items: center;
    margin-left: 200px;
    margin-top: 120px;
    
    
 
}
h1{
    color: aliceblue;
    text-align: center;
    background-color: rgb(75, 103, 194);
}
#name{
    margin-top: 50px;
    color:tomato;
    font-size: 30px;
    margin-left: 100px;

}
#email{
    margin-top: -60px;
    text-align: right;
}
#phone{
    text-align: right;
    margin-right: 140px;
}
.sub{
background-color: cornflowerblue;
}
.sign{
    text-align: right;
}