body{
    
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom:30px ;
    margin-right: 40px;
}
#box{
   
    width: 100vh;
    height: 120vh;
    align-items: center;
    margin-left: 200px;
    margin-top: 120px;
    
    
 
}

h1{
    color: aliceblue;
    text-align: center;
    background-color: rgb(75, 103, 194);
}
#img img {
    margin-left: 20px;
    max-width: 100px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
#name{
    margin-top: -80px;
    color:tomato;
    font-size: 30px;
    margin-left: 135px;

}
#email{
    margin-top: -60px;
    text-align: right;
}
#phone{
    text-align: right;
    margin-right: 140px;
}
.sub{
background-color: cornflowerblue;
}
#sign{
    margin-top: -60px;
    text-align: right;
}
#sign1{
margin-right: 20px;
margin-top: -20px;
text-align: right;
color: darkgreen;
font-size: 24px;
font-family: cursive, sans-serif;


}